@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
:root{
  margin: 0;
  font-family: "Quicksand";
  color:rgba(241, 234, 234, 0.89);
  background-image: linear-gradient(
      100deg
      ,#262626,#810625 41.07%,#262626 76.05%);
  background-repeat: no-repeat;
  height: 100%; 
  background-attachment: fixed;
}


.middle{
  text-align: center;
  float: center;
  align-items: center;
}