@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
:root {
  margin: 0;
  font-family: "Quicksand";
  color: rgba(241, 234, 234, 0.986);
  /* background-image: linear-gradient(
      100deg
      ,#262626,#810625 41.07%,#262626 76.05%); */
  background: linear-gradient(-15deg, #ff7a18 10%, #af002d 92.07%, #af002d 99.07%);
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed;
}


.middle{
  text-align: center;
  float: center;
  align-items: center;
}

.glass {  
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow:hidden;
}

li{
  font-size: 1.5em;
  margin: 5px;
  padding: 5px;
  float:left;
}